{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/registrar_usr", method="POST">

    <input type="text" name="nombre" placeholder="Nombre(s)">
    <input type="text" name="apellido" placeholder="Apellidos">
    <input type="text" name="usuario" placeholder="Nombre de usuario">
    <input type="text" name="contraseña" placeholder="Contraseña">
    <input type="text" name="email" placeholder="Correo electronico">
    <input type="text" name="privilegios" placeholder="Privilegios (C,U,D)">
    <button type="submit">
        Registrar usuario
    </button>
</form>