<form action="/actualizar_usr/{{usuario.0}}" method="POST">
    
    <input type="text" name="nombre" placeholder="Nombre del usuario" value="{{ usuario.1 }}">
    <input type="text" name="apellido" placeholder="Apellidos" value="{{ usuario.2 }}">
    <input type="text" name="usuario" placeholder="Usuario" value="{{ usuario.3 }}">
    <input type="text" name="contraseña" placeholder="Contraseña" value="{{ usuario.4 }}">
    <input type="text" name="email" placeholder="Correo electronico" value="{{ usuario.5 }}">
    <input type="text" name="permisos" placeholder="Permisos" value="{{ usuario.6 }}">
    <button type="submit">
        Guardar cambios
    </button>
</form>