<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicia sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/own.css')}}">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center login">
            <div class="card tarjeta-usuarios">
                <div class="card-header">
                    <h3>Menú</h3>
                </div>

                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <a href="/vehiculos" class="list-group-item"><span class="user">user</span>:<span class="vir">~</span>$ Ver inventario</a>
                        <a href="/usuarios" class="list-group-item"><span class="user">user</span>:<span class="vir">~</span>$ Ver usuarios</a>
                        <a href="#" class="list-group-item"><span class="user">user</span>:<span class="vir">~</span>$ Cerrar sesión</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>

</html>