<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicia sesión</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/own.css">
    <script src="/static/js/excellentexport.js"></script>
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center align-items-center login">
            <div class="card tarjeta-usuarios">
                <div class="card-header d-flex justify-content-between">
                    <h3>{{ title }}</h3>
                    <button class="btn btn-success" onclick="generarPDF()">Descargar PDF</button>
                    <a class="btn btn-success" download="informe.csv" href="#" onclick="return ExcellentExport.csv(this, 'tabla');">Export to CSV</a>
                </div>
                {% block content %}{% endblock %}
                </div>
        </div>
    </div>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>

</html>